body{
    font-family: 'Inconsolata', monospace;
    margin: 0%;
    width: 100%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1080&w=1920');
    background-size: cover;
    background-position: center;
}
a{
    cursor: pointer;
}
.container{
      width: 100%;
      height: 100vh;
      display:flex;
      align-items: center;
      justify-content: center;
}
.terminal{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 33px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 33px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 33px 0px rgba(0,0,0,0.4);
    background-color: white;
    width: 90%;
    height: 90vh;
}

.terminal-title, .project-title{
    display: flex;
    align-items: center;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px; 
    height: 25px;
    min-height: 25px;
    background: #f4f4f4;
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ffffff 52%, #ededed 100%);
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#ffffff 52%,#ededed 100%);
    background: linear-gradient(to bottom, #f4f4f4 0%,#ffffff 52%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ededed',GradientType=0 );
}

.term-buttons, .proj-buttons{
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-left: 6px;
    flex: 0 0 40%;
    width: 20%;
}

.active div{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0% 3px;
    cursor: pointer;
}

.red{
    background-color: SALMON;
}
.yellow{
    background-color: GOLD;
}
.green{
    background-color: LIGHTGREEN;
}
.blue-text{
    color: blue;
}
.close{
    padding-right: 0.5px;
    padding-top: 1px;
}
.minimize{
    padding-top: 35%;
}

.enlarge{
    padding-right: 0.5px;
    padding-top: 1px;
}

.active div img{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5px;
    display: block;
    margin-top: 2px;
}

.title, .project-name-fill{
    flex: 0 0 20%;
    width: 100%;
    color:black;
}

.terminal-body{
    height: 95%;
    width: 100%;
    overflow: auto;
}

.terminal-body pre{
    font-size: 1.15rem;
    line-height: 1.25rem;
    color: black;
}

.project-view{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 33px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 33px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 33px 0px rgba(0,0,0,0.4);
    position: absolute;
    width: 0px;
    height: 0px;
    margin-top: 22.5%;
}

.transform{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.transform-active{
    width: 100%;
    height: 100vh;
    margin-top: 0%;
}

.project-body{
    height: 96%;
    width: 100%;
    overflow: auto;
}
.project-content{
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
}

img{
    margin: auto;
}