.sendHelpBGC{
    background-color: white;
    color: white;
}

.project-content{
    margin: 
}

#nav-bar{
    text-align: right;
    width: 255px;
    position: absolute;
    background-color: #BDB76B;
}

#nav-head h1{
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

h2{
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

#nav-items{
    margin-bottom: 20px;
}

#nav-items div{
    width: 150px;
    margin: 10px;
    
}
.sendHelp-content{
    padding: 0;
    margin: 0;
    background-color: white;
    padding-left: 275px; 
    width: auto;
    color:black;
    padding-right: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.column-3{
    float: left;
    width: 33.33%;
    height: auto;
}
.column-2{
    float: left;
    width: 50%;
    height: auto;
}

.column-2 img{
    width: 100%;
    height: 100%;
}
.button {
    background-color: #5F9EA0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}