.vedaBGC{
    background-color: white;
    color: black;
}

iframe{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

hr{
    border-color: #0091F7;
}

h3{
    text-decoration: underline;
}

.project-content{
    padding-top: 25px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
}
.cont2 img{
    float: left;
    margin-right: 10px;
}
.border{
    box-shadow: 2px 2px 2px 2px grey;
}
#StoryBoard{
    width: 100%;
}
#Screenshot{
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 25px;
}
.veda-content img{
    margin: 15px;
}