.vedaBGC{
    background-color: white;
    color: black;
}

iframe{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

h3{
    text-decoration: underline;
}

.border{
    box-shadow: 2px 2px 2px 2px grey;
}
#StoryBoard{
    width: 100%;
}
#Screenshot{
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 25px;
}
.veda-content img{
    margin: 15px;
}
.iframe-container {
  overflow: hidden;
  padding-top: 65%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

#vedaGIF{
    width: 25%;
    border-radius: 35px;
    float: right;
}
.p-75{
    float: left;
    width: 75%;
}